{% if ooc -%}
synth_design -mode out_of_context -flatten_hierarchy rebuilt
puts [get_property NAME [current_project]]
write_checkpoint [get_property DIRECTORY [current_project]]/[get_property NAME [current_project]].dcp -force
{% else %}
launch_runs synth_1{{ jobs }}
wait_on_run synth_1
{% endif %}
exit [regexp -nocase -- {synth_design (error|failed)} [get_property STATUS [get_runs synth_1]] match]
