create_project -in_memory -part {{ tool_options.part }}

{% for file in project.files %}
add_files {{ file }}
{% endfor %}

{% for module in modules %}
set_property SCOPED_TO_CELLS {inst_shift} [get_files ./Synth/shift_right/shift_synth.dcp]
{% endfor %}

link_design -mode default -reconfig_partitions { {{ project.reconfig_partitions }} } -part {{ tool_options.part }} -top {{ project.top }} 